<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Common head content is included from common.html  -->
    <th:block th:include="fragments/common.html :: commonhead"></th:block>

    <!-- Include custom head for this head after this line -->
    <title>SEF for IT Web Base Code</title>
    <link href="/css/welcome.css" rel="stylesheet">
</head>

<body>

<!-- Nav bar is located in common.html -->
<header th:replace="fragments/common.html :: header"></header>

<!-- Begin THIS page content -->
<main role="main" class="container ">

    <div class="jumbotron">
        <h1 class="display-4">Welcome to your Web App</h1>

        <hr class="my-4">
        <h4>Today is</h4>
        <p class="lead" th:text="${date}">Feb 2, 2020></p>
        <p class="lead" th:text="${#dates.format(date, 'dd-MM-yyyy HH:mm')}"></p>
        <hr class="my-4">
        <h2>This is a student project.</h2>
        <h2>DO NOT USE THESE WORKOUTS AND PROGRAMS TO TRAIN</h2>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">GO!</a>
        </p>
    </div>

</main>
<!-- End THIS page content -->

<!-- Footer is located in common.html -->
<footer class="footer" th:replace="fragments/common.html :: footer"> </footer>

<!-- Bootstrap Scripts  -->
<th:block th:include="fragments/common.html :: scripts"></th:block>
</body>
</html>