<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="form">
    <input th:value="${workout.id}" type="hidden" name="id" >
    <div class="form-group">
        <label for="name">Name</label>
        <input th:value="${workout.name}" type="text" class="form-control" id="name"  name="name" aria-describedby="nameHelp" placeholder="Enter workout name" required>
        <small id="nameHelp" class="form-text text-muted">Please input the workout's name.</small>
    </div>

    <div class="form-group">
        <label for="description">Workout description</label>
        <textarea th:text="${workout.description}" class="form-control" id="description" name="description"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</body>